page-info {

ion-content{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
   }
   .logo{
        top: 20px;
        left: 50%;
        display:flex;
        margin:0 auto;
        text-align: center;
        }

    .Title{
         text-align: center;
    }
}
