page-home-jefe-ventas {
        ion-content{
            display: block;
            height: 100%;
            width: 100%;
            text-align: center;
       }
       
        .loader{
            background: #1A367B !important;
            border-radius:100px;
            height:20px;
            p{
                text-align:center;
                color:white !important;
                text-align:center;
            }
        }
    }

