page-adm-super {
    ion-content{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
   }
   .Title{
        text-align: center; 
    }

   button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: #1A367B;
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
        }
    }
    
    .loader{
        background: #1A367B !important;
        border-radius:100px;
        height:20px;
        p{
            text-align:center;
            color:white !important;
            text-align:center;
        }
    }
}
