// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-menu{
    .profile{
      text-align: center;
      color: white;
      background-color: color($colors, dark);
      display: block;
      padding: 35px 0px;
      &.primary{
        background-color: color($colors, primary);
      }
      .cover{
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 100%;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        box-shadow: 0px 0px 0px 5px white,0px 0px 0px 8px rgba(255,255,255,.5);
        background-color: white;
        margin-bottom: 10px;
        img{
          width: 100%;
        }
      }
      h5{
        margin: 0px;
      }
      p{
        margin: 0px;
      }
    }
  }