<ion-split-pane>
  <ion-menu id="menu" [content]="content">
    <ion-content>
      <div class="profile primary">
        <div class="cover">
          <img class="photo"  src="assets/imgs/pilAndina.png" alt="logo">
        </div>
        <h5>SUPERVISOR</h5>
        <p *ngIf="user !== null" >{{user.NombreSupervisor}}</p>
        <p *ngIf="user !== null" >{{user.NombreUsuario}}</p>
        
      </div>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button menuClose ion-item (click)="logout()">
          Salir
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>