page-preventa {
    .Title{
         text-align: center;
    }
    
    .progress-outer {
        float: right;
        width: 35%;
        // margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #3092DC;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 0%;
        white-space: nowrap;
        overflow: hidden;
        padding: 0px;
        border-radius: 20px;
        background-color: #3092DC;
    }
    .progress{
        min-width: 0%;
        color:#3092DC;
    }
    .item{
        min-height: 30px;
    }
    .mover
    {
        float: right;
        right: 50px;
        position: absolute;
        bottom: 22px;
        color: black;
    }
}
