<ion-header>
  <ion-navbar color="primary">
    <ion-title class="title">List User Page</ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="addUser()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="users.length == 0"> 
            Empty
          </ion-item>
        <button ion-item *ngFor="let user of users let i = index">
            <ion-icon name="map" item-right ></ion-icon>
            <ion-thumbnail item-left>
                <img [src]="user.photo" alt="avatar">
              </ion-thumbnail>
          <h2>{{ user.name }} {{ user.apPat}} </h2>
          
        </button>
        
      </ion-list>
</ion-content>
